[submodule "sourcedata/dbic-BIDS"]
	path = sourcedata/dbic-BIDS
	url = bids@rolando.cns:/inbox/BIDS
[submodule "bids"]
	path = bids
	url = ./bids
[submodule "mriqc"]
	path = mriqc
	url = ./mriqc
[submodule "simple_workflow"]
	path = simple_workflow
	url = ./simple_workflow
